services:
  webserver:
    image: nginx:latest
    container_name: sae5012_nginx
    ports:
      - "80:80"
    volumes:
      - ./app:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - db

  php:
    build:
      context: ./docker/php
    container_name: sae5012_php
    volumes:
      - ./app:/var/www/html

  db:
    image: mariadb:10.6
    container_name: sae5012_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sae5012_db
      MYSQL_USER: sae5012_user
      MYSQL_PASSWORD: user
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: sae5012_phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db

volumes:
  db_data: